jax[cuda12]
ipdb>=0.13.13
wandb>=0.17.0
flax
jaxtyping
einops>=0.8.0
matplotlib
tqdm>=4.66.4
colour>=0.1.5
seaborn>=0.13.2
equinox
jraph>=0.0.6.dev0
tensorflow-probability
attrs>=23.2.0
numpy
scipy
control>=0.9.4
optax
rich>=13.7.0
pyyaml>=6.0.1
opencv-python>=4.9.0
mediapy>=1.2.2
mujoco>=3.2.2
mujoco-mjx
numpy
